:root {

    --chord-lg: #969696;
    --chord-lg-10: rgb(20,20,20);
    --chord-lg-25: rgb(50,50,50);
    --chord-lg-50: rgb(100,100,100);
    --chord-lg-75: rgb(150,150,150);
    --chord-lg-100: rgb(200,200,200);

    --chord-r: #ff0000;

    --chord-link: #007bff;
    --chord-link-emphasis: #0062cc;

    --chord-suc-link: #28a745;
    --chord-suc-link-emphasis: #1e7e34;

    --chord-dg-100: #343a40;

    --b: #0000cc;
   --db: #000066;
   --lb: #8080ff;
   --vdb: #00004d;
   --vlb: #ccebff;
}

.chord-link {
    color: var(--chord-link);
    cursor: pointer;
}
.chord-link:hover {
    text-decoration: underline;
    color: var(--chord-link-emphasis);
}

.chord-unavaliable-link {
    color: var(--chord-lg-75);
    cursor: not-allowed;
}

.chord-success-link {
    color: var(--chord-suc-link);
    cursor: pointer;
}
.chord-success-link {
    color: var(--chord-suc-link-emphasis);
    text-decoration: underline;
}

.chord-bg-white {
    background-color: white;
    color: black!important;
}
.chord-bg-black {
    background-color: black;
    color: white!important;
}
.chord-bg-light {
    background-color: var(--chord-lg-100);
    color: black!important;
}
.chord-bg-dark {
    background-color: var(--chord-dg-100)!important;
    color: white!important;
}
.chord-bg-auto {
    background-color: var(--chord-lg-100);
    color: black!important;
}
@media (prefers-color-scheme: dark) {
    .chord-bg-auto {
        background-color: var(--chord-dg-100)!important;
        color: white!important;
    }
    .chord-bg-auto-mono {
        background-color: black;
        color: white!important;
    }
}
.chord-bg-auto-mono {
    background-color: white;
    color: black!important;
}

.chord-row {
    display: flex;
    flex-direction: row;
}
.chord-column {
    display: flex;
    flex-direction: column;
}
