/* DO NOT REMOVE
Copyright Gonerogueproductions 2022 - uimaxbai, werdl and thisiscoding
*/

* {
    margin: 0;
    padding: 0;
    margin-left:0.25vw !important;
    margin-top: 0.25vw !important;
    box-sizing: border-box;
}

:root {
/* VARIABLES */
    /* COLOURS */
        --c-lg: #969696;
        --c-lg-10: rgb(20,20,20);
        --c-lg-25: rgb(50,50,50);
        --c-lg-50: rgb(100,100,100);
        --c-lg-75: rgb(150,150,150);
        --c-lg-100: rgb(200,200,200);

        --c-r: #ff0000;
        --c-lr: #ff8080;
        --c-dr: #800000;

        --c-b: #0000cc;
        --c-lb: #8080ff;
        --c-db:#000066;
        --c-vdb: #00004d;
        --c-vlb: #ccebff;

        --c-g: #00cc00;
        --c-lgg: #99ff99;
        --c-dg: #003300;

        --c-y:#ffff00 ;
        --c-ly:#ffff80 ;
        --c-dy: #666600;

        --c-bl: #262626;
        --c-lbl: #808080;
        --cc-dbl: #000000;

        --c-or:#ff6600 ;
        --c-lor:#ffa366 ;
        --c-dor:#662900 ;

        --c-pu:#660066;
        --c-lpu:#ff99ff;
        --c-dpu:#330033;

        --c-link: #007bff;
        --c-link-emphasis: #0062cc;

        --c-success-link: #28a745;
        --c-success-link-emphasis: #1e7e34;
        --c-suc-link: #28a745;
        --c-suc-link-emphasis: #1e7e34
        --c-dg-100: #343a40;

        
    /*END COLOURS */
    /*FONTS*/
    --c-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --c-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    /*END FONTS*/
/*END VARIABLES */
}

.c-monospace-font {
    font-family: var(--c-monospace)!important;
}
.c-primary-link,
.c-link,
.c-l {
    color: var(--c-link);
    cursor: pointer;
}
.c-primary-link:hover,
.c-link:hover,
.c-l:hover {
    text-decoration: underline;
    color: var(--c-link-emphasis);
}
.c-not-allowed-link,
.c-not-allowed,
.c-unl {
    color: var(--c-lg-75);
    cursor: not-allowed;
}
.c-success-link,
.c-success,
.c-sul {
    color: var(--c-suc-link);
    cursor: pointer;
}
.c-success-link:hover,
.c-success:hover,
.c-sul:hover {
    color: var(--c-suc-link-emphasis);
    text-decoration: underline;
}

.c-bg-w,
.c-bg-white {
    background-color: white;
    color: black!important;
}
.c-bg-b,
.c-bg-black {
    background-color: black;
    color: white!important;
}
.c-bg-li,
.c-bg-light {
    background-color: var(--c-lg-100);
    color: black!important;
}
.c-bg-li,
.c-bg-da {
    background-color: var(--c-dg-100)!important;
    color: white!important;
}
.c-bg-au,
.c-bg-auto
{
    background-color: var(--c-lg-100);
    color: black!important;
}
@media (prefers-color-scheme: dark) {
    .c-bg-auto,
    .c-bg-au {
        background-color: var(--c-dg-100)!important;
        color: white!important;
    }
    .c-bg-auto-monochrome,
    .c-bg-au-mon {
        background-color: black;
        color: white!important;
    }
}
.c-bg-auto-monochrome,
.c-bg-au-mon{
    background-color: white;
    color: black!important;
}

.c-row {
    display: flex;
    flex-direction: row;
}
.c-column,
.c-col {
    display: flex;
    flex-direction: column;
}
.c-container {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 1rem;
    margin-left:auto;
    margin-right: auto;
    display: flex;
}
@media (min-width: 576px) {
    .c-container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .c-container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .c-container {
        max-width: 960px;
    }
}
.nav,
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
@media (min-width: 768px) {
    .nav-x,
    .navbar-horizontal {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}

code {
    padding: 0.5rem;
    background: var(--c-lg-100);
    border-radius: 5px;
    font-family: var(--c-monospace);
    color: black!important;
}

c-h1,
c-heading-1 {
    border-left: 5px solid var(--c-lg-50);
    border-radius: 2px;
    padding: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
}
c-heading-1,
c-h2 {
    border-left: 2px solid var(--c-lg-50);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 2rem;
}
.c-xy-center,
.c-center,
.c-flex-center {
    align-items: center;
    justify-content: center;
}
.c-center-y,
.c-flex-center-y {
    align-items: center;
}
.c-center-x,
.c-flex-center-x {
    justify-content: center;
}
.c-no{
    text-decoration:none;
}
img {
    height:attr(height);
}
.c-h1 { font-size: 2.4vw;} 
.c-h2 { font-size: 2.2vw;} 
.c-h3 { font-size: 1.8vw;} 
.c-h4 { font-size: 1.6vw;} 
.c-h5 { font-size: 1.2vw;} 
.c-h6 { font-size: 1vw;}
